@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgba(15, 162, 247, 0.849);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    max-width: 400px;
    height: 450px;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

form{
    font-family: 'Roboto', sans-serif;
}
p{ 
    color: rgba(0, 0, 0, 0.5);
}
input{
    margin-top: 15px;
    width: 350px;
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.116);
}

::placeholder{
    font-size: 15px;
}

button{
    margin-top:20px;
    padding: 10px;
    width: 120px;
    font-size: 15px;
    background-color: rgba(6, 128, 199, 0.87);
    color: white;
    font-weight: 600;
    font-size: 17px;
    border: none;
}
.already{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}